<%= form_for [:admin, @car], :url => {:action => "create_suggested_car"} do |form| %>
  <% if @car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
      <% @car.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :licence_no %>
    <%= form.text_field :licence_no, id: :car_licence_no, placeholder: 'Licence Number', class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :manufacturer %>
    <%= form.text_field :manufacturer, id: :car_manufacturer, placeholder: "Manufacturer", class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :model %>
    <%= form.text_field :model, id: :car_model, placeholder: 'Model', class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :style %>
    <% if @car.style == "suv" %>
      <% @style = @car.style.upcase %>
    <% else %>
      <% @style = @car.style.humanize %>
    <% end %>
    <%= form.select :style, Car.styles.values, id: :car_style, :selected => @style, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :hourly_rate %>
    <%= form.text_field :hourly_rate, id: :car_hourly_rate, placeholder: 'Hourly rental rate', class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location, id: :car_location, placeholder: 'Location', class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn-submit'%>
  </div>
<% end %>
