<p>
  <strong>From:</strong>
  <%= @reservation.from %>
</p>

<p>
  <strong>To:</strong>
  <%= @reservation.to %>
</p>

<p>
  <strong>Rental charge:</strong>
  <%= @reservation.rental_charge %>
</p>

<%= link_to 'Edit', edit_admin_reservation_path(@reservation) %> |
<%= link_to 'Back', admin_reservations_path %>
