<br>
<h4>Current Reservation</h4>
<% if @current_reservation %>
  <% @current_car = Car.find(@reservation.car_id)%>
  <table class="table">
    <thead>
    <tr>
      <th>Licence no</th>
      <th>Manufacturer</th>
      <th>Model</th>
      <th>From</th>
      <th>To</th>
      <th>Rental Charge</th>
      <th colspan="3"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><%= @current_car.licence_no %></td>
      <td><%= @current_car.manufacturer %></td>
      <td><%= @current_car.model %></td>
      <td><%= @reservation.from %></td>
      <td><%= @reservation.to %></td>
      <td><%= @reservation.rental_charge %></td>
    </tr>
    </tbody>
  </table>
<% else %>
  <h5 style="text-indent: 35px">You don't have any current reservation.</h5>
<% end %>
<h4>Reservation History</h4>
<% if @reservations %>
  <table class="table">
    <thead>
    <tr>
      <th>Licence no</th>
      <th>Manufacturer</th>
      <th>Model</th>
      <th>From</th>
      <th>To</th>
      <th>Rental Charge</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @reservations.each do |reservation| %>
      <% @car = Car.find(reservation.car_id) %>
        <tr>
          <td><%= @car.licence_no %></td>
          <td><%= @car.manufacturer %></td>
          <td><%= @car.model %></td>
          <td><%= reservation.from %></td>
          <td><%= reservation.to %></td>
          <td><%= reservation.rental_charge %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
    <h5 style="text-indent: 35px">You don't have reservation history.</h5>
<% end %>
<br>
<%= link_to 'Back', root_path %>