Hi <%= @user.first_name %>!

  The car you were looking for is now available!!

  Model - <%= @car.model %>,
  Manufacturer - <%= @car.manufacturer %>
  Style - <%= @car.style.humanize %>

  Visit our site to book!! <a href="<%= root_url %>">CarRental</a>

Thanks!
CarRental Team
