<%= form_for @car do |form| %>

  <div class="field">
    <%= form.label :licence_no %>
    <%= form.text_field :licence_no, id: :car_licence_no %>
  </div>

  <div class="field">
    <%= form.label :manufacturer %>
    <%= form.text_field :manufacturer, id: :car_manufacturer %>
  </div>

  <div class="field">
    <%= form.label :model %>
    <%= form.text_field :model, id: :car_model %>
  </div>

  <div class="field">
    <%= form.label :style %>
    <%= form.select :style, Car.styles.values, id: :car_status %>
  </div>

  <div class="field">
    <%= form.label :hourly_rate %>
    <%= form.text_field :hourly_rate, id: :car_hourly_rate %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location, id: :car_location %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, Car.statuses.values, id: :car_status %>
  </div>

    <div class="actions">
      <%= form.submit form_for == :cars ? 'Add' : 'Save', class: 'btn-submit' %>
    </div>
<% end %>
