<%# add navigation links to this file %>
<% if logged_in?%>
    <% if current_user.admin?%>
        <li><%= link_to 'Cars', admin_cars_path %></li>
        <li><%= link_to 'Customers', admin_customers_path %></li>
        <li><%= link_to 'Admins', admin_users_path %></li>
    <% elsif current_user.super_admin?%>
        <li><%= link_to 'Cars', admin_cars_path %></li>
        <li><%= link_to 'Customers', admin_customers_path %></li>
        <li><%= link_to 'Admins', admin_users_path %></li>
        <li><%= link_to 'SuperAdmins', super_admin_users_path %></li>
    <% end %>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        Account <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li><%= link_to 'My Profile', current_user%></li>
        <li>
          <%= link_to 'Edit profile', edit_user_path(current_user) %>
        </li>
        <li class="divider"></li>
        <li><%= link_to 'Log out', logout_path, method: :delete %></li>
      </ul>
    </li>
<% end %>
