<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : 'Car Rental' %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : 'Car Rental' %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
      <% if logged_in? and (current_page?(root_url) or current_page?(admin_cars_url)) %>
       <h3>Hello <%= current_user.first_name %> <%= current_user.last_name %></h3>
      <% end %>
      <%= render 'layouts/messages' %>
      <%= yield %>
    </main>
  </body>
</html>
